<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-android-nordicid" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NordicID</name>

    <description>Android NordicID RFID  Plugin</description>
    <license>Apache 2.0</license>
    <keywords>android, NordicID, RFIFD</keywords>

    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module name="NordicID" src="www/NordicID.js">
        <clobbers target="NordicID" />
    </js-module>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="NordicID">
                <param name="android-package" value="com.img.NordicID" />
            </feature>
        </config-file>

        <source-file src="src/android/NordicID.java" target-dir="src/com/img/NordicID" />
        <source-file src="src/android/NurApiAutoConnectTransport.java" target-dir="src/com/img/NurApiAutoConnectTransport" />
        <source-file src="src/android/NurApiSocketAutoConnect.java" target-dir="src/com/img/NurApiSocketAutoConnect" />
        <source-file src="src/android/NurApiSocketTransport.java" target-dir="src/com/img/NurApiSocketTransport" />
		<lib-file src="src/android/libs/NurApi.jar" />
    </platform>
</plugin>